loguru==0.7.3 
python-dotenv==1.0.1 
PyYAML==6.0.2 
torch==2.6.0 
torchvision==0.21.0 
tqdm==4.67.1 
typer==0.15.1 
matplotlib==3.10.0 
pyarrow==18.1.0 
setuptools==75.1.0 
protobuf==4.25.3 
ultralytics==8.3.107 
ray==2.43.0 
albumentations==2.0.5 
shortuuid==1.0.13